.*
*.so
*.o
*.wsdl
*.xsd
*.nsmap
junk*
soapClient.cpp
soapC.cpp
soapClientLib.cpp
soapServer.cpp
soapServerLib.cpp
test-wsdl-remote/soapServer.cpp
test-wsdl-remote/soapServerLib.cpp
test-client
test-serv
echo-test

src/cpp/experiments/tests/wsdl/test-wsdl-calc/calc.rand.req.xml
src/cpp/experiments/tests/wsdl/test-wsdl-calc/calc.rand.res.xml
src/cpp/experiments/tests/wsdl/test-wsdl-xlate/xlient

src/cpp/experiments/tests/wsdl/test-wsdl-calc/*.xml

src/cpp/experiments/tests/test-utf/experiments/test1
src/cpp/experiments/tests/test-utf/test1/
src/cpp/experiments/tests/wsdl/test-wsdl-calc/soapH.h
src/cpp/experiments/tests/wsdl/test-wsdl-calc/soapStub.h
src/cpp/experiments/tests/wsdl/test-wsdl-calc/soapcalcProxy.cpp
src/cpp/experiments/tests/wsdl/test-wsdl-calc/soapcalcProxy.h
src/cpp/experiments/tests/wsdl/test-wsdl-calc/soapcalcService.cpp
src/cpp/experiments/tests/wsdl/test-wsdl-calc/soapcalcService.h

src/cpp/experiments/algorithms/backtracking/generate-subsets/test1
src/cpp/experiments/algorithms/backtracking/telephone-number-words/test1
src/cpp/experiments/algorithms/bits/add-ints-bits/test1
src/cpp/experiments/algorithms/bits/add-ints-bits1/test1
src/cpp/experiments/algorithms/bits/little-endian/test1
src/cpp/experiments/algorithms/bits/subtract-ints-bits/test1
src/cpp/experiments/algorithms/bits/swap-vars/test1
src/cpp/experiments/algorithms/graph/graph-ctor/test1
src/cpp/experiments/algorithms/heap/heap-create-linear/test1
src/cpp/experiments/algorithms/heap/heap-siftdown/test1
src/cpp/experiments/algorithms/heap/heap-siftup/test1
src/cpp/experiments/algorithms/lists/find-cycle-list/test1
src/cpp/experiments/algorithms/lists/node-append/test1
src/cpp/experiments/algorithms/lists/split-list/test1
src/cpp/experiments/algorithms/problems/check-sum-equal-x/test1
src/cpp/experiments/algorithms/problems/test-find-longest-increasing-path-of-items/test1
src/cpp/experiments/algorithms/problems/tower-hanoi-iterative/test1
src/cpp/experiments/algorithms/problems/tower-hanoi-recurse/test1
src/cpp/experiments/algorithms/problems/word2telephone-number/test1
src/cpp/experiments/algorithms/search/binary-search-logn/test1
src/cpp/experiments/algorithms/selection/find-first-1/test1
src/cpp/experiments/algorithms/selection/kth-smallest/test1
src/cpp/experiments/algorithms/selection/max-profit/test1
src/cpp/experiments/algorithms/selection/median/fast-median/test1
src/cpp/experiments/algorithms/selection/median/running-median-simple-code/test1
src/cpp/experiments/algorithms/selection/median/running-median/test1
src/cpp/experiments/algorithms/selection/partition-template/test1
src/cpp/experiments/algorithms/selection/partition/test1
src/cpp/experiments/algorithms/selection/partitioned-timed/test1
src/cpp/experiments/algorithms/selection/random-select-m-n/test1
src/cpp/experiments/algorithms/selection/track-m-smallest-numbers/test1
src/cpp/experiments/algorithms/sorting/bubble-sort/test1
src/cpp/experiments/algorithms/sorting/count-sort/test1
src/cpp/experiments/algorithms/sorting/isort/test1
src/cpp/experiments/algorithms/sorting/merge-sort-list/test1
src/cpp/experiments/algorithms/sorting/merge-sort/test1
src/cpp/experiments/algorithms/sorting/merge-streams/test1
src/cpp/experiments/algorithms/sorting/qsort-lambda/test1
src/cpp/experiments/algorithms/sorting/qsort/test1
src/cpp/experiments/algorithms/sorting/selection-sort-recursive/test1
src/cpp/experiments/algorithms/sorting/selection-sort/test1
src/cpp/experiments/algorithms/sorting/sort-with-2-stacks/test1
src/cpp/experiments/algorithms/strings/first-nonrepeating-char/test1
src/cpp/experiments/algorithms/strings/remove-chars-from-strings/test1
src/cpp/experiments/algorithms/strings/str-reverse/test1
src/cpp/experiments/algorithms/strings/string-permutations-upper-lower-case/test1
src/cpp/experiments/algorithms/strings/string-replace-pattern-with-char/test1
src/cpp/experiments/algorithms/strings/string-reverse-part-of-string/test1
src/cpp/experiments/algorithms/strings/string-reverse-words/test1
src/cpp/experiments/algorithms/strings/string-rotate/test1
src/cpp/experiments/algorithms/strings/string_permutations/test1
src/cpp/experiments/algorithms/tree/print-tree/test1
src/cpp/experiments/algorithms/tree/tree-copy/test1
src/cpp/experiments/algorithms/tree/tree-eval-prefix-expr/test1
src/cpp/experiments/algorithms/tree/tree-traversal/test1
src/cpp/experiments/tests/asio/test-echo-stdin/test1
src/cpp/experiments/tests/asio/test-pipe/test1
src/cpp/experiments/tests/asio/test-queue/tests/test-0/test1
src/cpp/experiments/tests/asio/test-queue/tests/test-00/test1
src/cpp/experiments/tests/asio/test-queue/tests/test-1/test1
src/cpp/experiments/tests/asio/test-queue/tests/test-11/test1
src/cpp/experiments/tests/asio/test-queue/tests/test-2/test2
src/cpp/experiments/tests/asio/test-queue/tests/test-3/test3
src/cpp/experiments/tests/asio/test-queue/tests/test-33/test3
src/cpp/experiments/tests/asio/test-queue/tests/test-4/test4
src/cpp/experiments/tests/asio/test-queue/tests/test-5/test5
src/cpp/experiments/tests/asio/test-queue/tests/test-55/test3
src/cpp/experiments/tests/asio/test-queue/tests/test-6/test6
src/cpp/experiments/tests/asio/test-queue/tests/test-7/test7
src/cpp/experiments/tests/asio/test-queue/tests/test-8/test1
src/cpp/experiments/tests/asio/test-queue/tests/test-9/test9
src/cpp/experiments/tests/asio/test-read-http-page/test1
src/cpp/experiments/tests/asio/test-thread-asio/test1
src/cpp/experiments/tests/asio/test-timer-lambda/test1
src/cpp/experiments/tests/boost-fd-stream/test1
src/cpp/experiments/tests/boost-type-print/test1
src/cpp/experiments/tests/c-strange-index/test1
src/cpp/experiments/tests/exceptions/test-nothrow/test1
src/cpp/experiments/tests/ibm-task/test1
src/cpp/experiments/tests/knuth/gen-sorted-perms/test1
src/cpp/experiments/tests/lambda_init_capture/test1
src/cpp/experiments/tests/literals/lan-literal/test1
src/cpp/experiments/tests/literals/time-literals/test1
src/cpp/experiments/tests/literals/variadic-literal/test1
src/cpp/experiments/tests/memory/operator-new/test1
src/cpp/experiments/tests/occi/test-occi-iterator/test1
src/cpp/experiments/tests/occi/test-occi-timed/extract-mtclone-pk-no-array-fetch/test-tmlo-extract
src/cpp/experiments/tests/occi/test-occi-timed/extract-mtclone-pk/test-tmlo-extract
src/cpp/experiments/tests/occi/test-occi-timed/extract-tmlo/test-tmlo-extract
src/cpp/experiments/tests/occi/test-occi-timed/max-matid/max-matid
src/cpp/experiments/tests/occi/test-occi-timed/read-sort-files/test1
src/cpp/experiments/tests/occi/test-occi/test-occi
src/cpp/experiments/tests/resources/operator-new/test1
src/cpp/experiments/tests/resources/rebase/test1
src/cpp/experiments/tests/resources/test-unique_ptr/test1
src/cpp/experiments/tests/resources/test-weak-ptr/test1
src/cpp/experiments/tests/rvalue-function-qualifiers/test1
src/cpp/experiments/tests/sfinae/test1/test1
src/cpp/experiments/tests/sfinae/test2/test1
src/cpp/experiments/tests/sqlite-test/test1
src/cpp/experiments/tests/system-programming/filter/test1
src/cpp/experiments/tests/system-programming/procinfo/test1
src/cpp/experiments/tests/system-programming/sigtimedwait/test1
src/cpp/experiments/tests/test-SFINAE/test1
src/cpp/experiments/tests/test-atomic/test1
src/cpp/experiments/tests/test-base64/test1
src/cpp/experiments/tests/test-basics/test-dynamic-programming-basics/test1
src/cpp/experiments/tests/test-basics/test-list-basics/test1
src/cpp/experiments/tests/test-basics/test-perm-backtrack-basics/test1
src/cpp/experiments/tests/test-basics/test-selection-search-basics/test1
src/cpp/experiments/tests/test-basics/test-sorting-basics/test1
src/cpp/experiments/tests/test-basics/test-string-basics/test1
src/cpp/experiments/tests/test-basics/test-tree-basics/test1
src/cpp/experiments/tests/test-boost-filelog/test1
src/cpp/experiments/tests/test-boost-log/test1
src/cpp/experiments/tests/test-boost-process/test1
src/cpp/experiments/tests/test-boost-process/test2
src/cpp/experiments/tests/test-boost-process/test3
src/cpp/experiments/tests/test-boost-process/test4
src/cpp/experiments/tests/test-boost-regexp/test1
src/cpp/experiments/tests/test-buffered-fd-channel/test1
src/cpp/experiments/tests/test-callable/test1
src/cpp/experiments/tests/test-const/test1
src/cpp/experiments/tests/test-fd-stream/test1
src/cpp/experiments/tests/test-folding/test1
src/cpp/experiments/tests/test-for/test1
src/cpp/experiments/tests/test-func-wrapper/test1
src/cpp/experiments/tests/test-future/test1
src/cpp/experiments/tests/test-icu/test-utf8-tolower/test1
src/cpp/experiments/tests/test-index-list/test1
src/cpp/experiments/tests/test-json/test1
src/cpp/experiments/tests/test-lambda-recurse/test1
src/cpp/experiments/tests/test-lambda/test1
src/cpp/experiments/tests/test-libconfig/test1
src/cpp/experiments/tests/test-libssh-ftp/test1
src/cpp/experiments/tests/test-libxml-tmx/test1
src/cpp/experiments/tests/test-libxml/test1
src/cpp/experiments/tests/test-list-add-numbers/test1
src/cpp/experiments/tests/test-numeric-limit/test1
src/cpp/experiments/tests/test-packaged-task/test1
src/cpp/experiments/tests/test-param-passing/test1
src/cpp/experiments/tests/test-readlines/test1
src/cpp/experiments/tests/test-sigguard/test1
src/cpp/experiments/tests/test-sigguard1/test1
src/cpp/experiments/tests/test-sqlite/test1
src/cpp/experiments/tests/test-streambuf/test1
src/cpp/experiments/tests/test-strip-xml-tags/test1
src/cpp/experiments/tests/test-structured-bindings/test1
src/cpp/experiments/tests/test-tuplet-apply/test1
src/cpp/experiments/tests/test-type-printer/test1
src/cpp/experiments/tests/test-utf/test-count-cps/test1
src/cpp/experiments/tests/test-variadic-count/test1
src/cpp/experiments/tests/test-variadic-printf/test1
src/cpp/experiments/tests/test-variant/test1
src/cpp/experiments/tests/thread/test-thread-pool/test1
src/cpp/experiments/tests/thread/test-thread/test1
src/cpp/experiments/tests/thread/test-threadpool/test1
src/cpp/experiments/tests/time/test-stop-watch-boost/test1
src/cpp/experiments/tests/time/test-stop-watch/test1
src/cpp/tests/test-fd-async-line-reader/test1
src/cpp/tests/test-fdqueue/test1
src/cpp/tests/test-queue1/test-queue
src/cpp/tests/test-xlatejobs/test1
src/cpp/tests/test1-occi-tools/test1-occi-tools
src/cpp/tests/test1-stopwatch/test1-stopwatch
src/cpp/tests/test1-tpool/test1-tpool
src/cpp/tests/test1-type-utils/test1-type-utils
